# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs
*.log
npm-debug.log*

# Python
backend/venv/
*.pyc
backend/__pycache__/
backend/.env

# Editor directories and files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db 

# Frontend Specific
frontend/build/
frontend/node_modules/
frontend/.env

# Backend Specific
backend/venv/
backend/__pycache__/
backend/.env
